*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parent h1{
    color: blueviolet;
    font-size: 60px;
}

.parent p{
    font-size: 40px;
    color: cornflowerblue;
}